*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    
}

@font-face {
    font-family: 'sand';
    src: url(static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'titulo';
    src: url(static/Quicksand-SemiBold.ttf);
}

.container{
   
    margin-top : 14%;
    text-align: center;
}

.box{
    box-shadow: 5px 7px 5px 2px rgba(255, 255, 255, 0.751);
    border: 2px solid white;
    margin: 219px 473px;
    display:inline-grid;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    height: 270px;
    background-color: #b974cc;
    width: 563px;
    border-radius: 15px;
}



.entrada{
    font-family: 'sand';
    color: azure;
    font-size: 30px;
}

h2{
    font-family: 'titulo';
    font-size: 40px;
    color: white;
    
}

input{
    border-radius: 15px;
    height: 30px;
}

#sortear{
    margin-top: 10px;
    color: black;
    border-radius: 33px;
    width: 100px;
    background-color: #ffffff;
    height: 37px;
    font-size: 'titulo';
    font-size: 15px;
}

#resultado{
    font-family: 'titulo';
    font-size: 25px;
    color: white;
}

.voltar {
    display: flex;
    justify-content: space-evenly;
}


a {
    text-decoration: none;
    color: #b974cc;
    font-size: 19px;
    background-color: #ffffff;

    width: 105px;
    height: 32px;
    text-align: center;
    border-radius: 16px;
  

}


